@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<address>
    <abbr title="Phone">Phone:</abbr>
    123456789
</address>
<address>
    <strong>Mail: q_kul@mail.ru</strong> 
</address>
