
@{
    ViewData["Title"] = "Home Page";
}

<header >
    <div class="container">
        <h1>Welcome!</h1>
        <button>
           <a asp-area="" asp-controller="Movies" asp-action="Index" class="navbar-brand">MovieAPI</a>
        </button>
    </div>
</header>